<!DOCTYPE html>
<!--Talha Arif - r1066207-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Car List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
<h2>Cars (and number of maintenances):</h2>
<ul>
    <li th:each="car,iter : ${carList}">
        <a th:href="@{/maintenanceList(carIndex=${iter.index})}"
           th:text="${car.getName() + ' (' + car.getNumberOfMaintenances() + ')'}">
        </a>
    </li>
</ul>

<a href="/index">Back to home page</a>
</body>
</html>